# Clash of Clans API Configuration
# Create a file named .env based on this template to store your secrets.

# Your JWT Token obtained from developer.clashofclans.com
# Ensure the IP address matches your current public IP.
COC_API_TOKEN=your_long_jwt_token_here

# The Clan Tags to analyze (must include the # symbol)
CLAN_TAG=#YOUR_CLAN_TAG

# The google id of your file 
GOOGLE_DRIVE_FILE_ID=your_google_drive_file_id

# Telegram bot to send alert
TELEGRAM_BOT_TOKEN=token_here
TELEGRAM_CHAT_ID=id_here